<launch>

  <arg name="max_yaw_rate" default="45.0"/>
  <arg name="min_yaw_rate" default="0.32"/>
  <arg name="yaw_kp" default="1.5"/>
  <arg name="yaw_tolerance" default="0.12"/>
  <arg name="goal_clear_range" default="0.5"/>
  <arg name="turn_angle" default="180.0"/>
  <arg name="repeat_enabled" default="false"/>
  <arg name="loop_count" default="-1"/>
  <!-- ################################ -->
  <!-- XML: add multi-point cruise launch args -->
  <!-- ################################ -->
  <arg name="multi_enabled" default="false"/>
  <arg name="multi_source" default="yaml"/>
  <arg name="multi_frame" default="odin_odom"/>
  <arg name="multi_route_file" default=""/>
  <arg name="default_wait_time" default="2.0"/>
  <!-- ################################ -->
  <!-- XML: add planning/global frame launch args -->
  <!-- ################################ -->
  <arg name="planning_frame" default="odin_odom"/>
  <arg name="global_frame" default="odin_map"/>

  <node pkg="local_planner" exec="cruiseController" name="cruise_controller" output="screen">
    <param name="max_yaw_rate" value="$(var max_yaw_rate)" />
    <param name="min_yaw_rate" value="$(var min_yaw_rate)" />
    <param name="yaw_kp" value="$(var yaw_kp)" />
    <param name="yaw_tolerance" value="$(var yaw_tolerance)" />
    <param name="goal_clear_range" value="$(var goal_clear_range)" />
    <param name="turn_angle" value="$(var turn_angle)" />
    <param name="repeat_enabled" value="$(var repeat_enabled)" />
    <param name="loop_count" value="$(var loop_count)" />
    <!-- ################################ -->
    <!-- XML: forward multi-point cruise launch params -->
    <!-- ################################ -->
    <param name="multi_enabled" value="$(var multi_enabled)" />
    <param name="multi_source" value="$(var multi_source)" />
    <param name="multi_frame" value="$(var multi_frame)" />
    <!-- ################################ -->
    <!-- XML: forward planning/global frame launch params -->
    <!-- ################################ -->
    <param name="planning_frame" value="$(var planning_frame)" />
    <param name="global_frame" value="$(var global_frame)" />
    <param name="multi_route_file" value="$(var multi_route_file)" />
    <param name="default_wait_time" value="$(var default_wait_time)" />
  </node>

</launch>
