<launch>

  <arg name="max_yaw_rate" default="45.0"/>
  <arg name="yaw_kp" default="1.5"/>
  <arg name="yaw_tolerance" default="0.12"/>
  <arg name="goal_clear_range" default="0.5"/>
  <arg name="repeat_enabled" default="false"/>
  <arg name="loop_count" default="-1"/>

  <node pkg="local_planner" exec="cruiseController" name="cruise_controller" output="screen">
    <param name="max_yaw_rate" value="$(var max_yaw_rate)" />
    <param name="yaw_kp" value="$(var yaw_kp)" />
    <param name="yaw_tolerance" value="$(var yaw_tolerance)" />
    <param name="goal_clear_range" value="$(var goal_clear_range)" />
    <param name="repeat_enabled" value="$(var repeat_enabled)" />
    <param name="loop_count" value="$(var loop_count)" />
  </node>

</launch>
